body {
    background-color: rgb(0, 0, 0);
}

/*preloader*/

#overlayer {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: #000000;
 overflow: hidden;
  height: 100vh;
}

.preloader {
    position: absolute;
    position: fixed;
    top: 40%;
    left: 42%;
    width: 120px;
    height: 90px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    z-index: 3;
}


#logo{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   animation: fill 1s ease forwards 1.5s;
   -webkit-animation: fill 1s ease forwards 1.5s;
}

#logo path:nth-child(1){
   stroke-dasharray: 572;
   stroke-dashoffset: 572;
   animation: line-anim 2s ease forwards;
   -webkit-animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
   stroke-dasharray: 463;
   stroke-dashoffset: 463;
   animation: line-anim 2s ease forwards 0.3s;
   -webkit-animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
   stroke-dasharray: 495;
   stroke-dashoffset: 495;
   animation: line-anim 2s ease forwards 0.9s;
   -webkit-animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(4){
   stroke-dasharray: 595;
   stroke-dashoffset: 595;
   animation: line-anim 2s ease forwards 1.3s;
   -webkit-animation: line-anim 2s ease forwards 1.3s;
}
#logo path:nth-child(5){
   stroke-dasharray: 695;
   stroke-dashoffset: 695;
   animation: line-anim 1s ease forwards 1.9s;
   -webkit-animation: line-anim 1s ease forwards 1.9s;
}
#logo path:nth-child(6){
   stroke-dasharray: 795;
   stroke-dashoffset: 795;
   animation: line-anim 1s ease forwards 2.3s;
   -webkit-animation: line-anim 1s ease forwards 2.3s;
}



@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}
/*preloader*/

/*navbar*/
.open {
    float: right;
    font-family: Lineat III;
    color: #FF0000;
    margin: 3%;
}

#closebtn {
    font-family: Lineat III;
    color: #FF0000;
    font-size: 30px;
    float: right;
    margin: 8%;
}

.overlay {
    height: 100%;
    width: 25%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0%;
    background-color: rgb(255, 255, 255);
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding-left: 4%;
}

.overlay a {
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    padding: 4%;
    font-family: Berlin Sans FB;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
}

li a {
    color: #000;
    text-decoration: none;
    float: left;

}

/*navbar completed*/

/*title*/
#title1 a{
    position: relative;
    float: left;
    color: #FFD500;
    font-family: Phantom;
    font-weight: medium;
    font-size: 6rem;
    text-decoration: none;
    margin: 1rem;
}

#title2 a{
    font-family: Berlin Sans FB;
    position: relative;
    color: #FFD500;
    font-size: 1.4rem;
}

/*title completed*/

/*alternative line*/
#line {
    position: relative;
    float: left;
    color: #707070;
    font-family: Lineat III;
    font-weight: medium;
    font-size: 3.3rem;
    top: 30rem;
    left: -14rem;
}

#line2 {
    color: #707070;
    font-family: Berlin Sans FB;
    font-weight: medium;
    font-size: 1.3rem;
    top: 25rem;
}

/*alternative line completed*/

/*svg*/
#svg {
    position: relative;
    float: right;
}

/*svg completed*/

/*trend*/
.item {
    border: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.container-trend {
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-gap: 2rem;
    grid-template-rows: repeat(5, 150px);
    flex-wrap: wrap;
    float: left;
    margin-left: 11rem;
    margin-top: 40rem;
}

.item1 {
    grid-row: 1/3;
}

.item2 {
    grid-row: 2 / 4;
}

.item3 {
    grid-row: 1 / 3;
}

.item4 {
    grid-row: 2 / 4;
}

.item5 {
    grid-row: 1 / 3;
}

.item6 {
    grid-row: 5 / 3;
    grid-column: 3 / 4;

}

/*trend completed*/

/*about*/
.about {
    position: absolute;
    width: 85rem;
    height: 40rem;
    top: 98rem;
    background-color: white;
    margin-left: 4rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.about img {
    position: relative;
    width: 35rem;
    height: 35rem;
    margin: 2rem;
}

#about-title {
    position: relative;
    color: #FF0000;
    top: 1rem;
    margin: 2rem;
    float: right;
    font-size: 3rem;
    font-family: Lineat III;
}

#about-text {
    position: relative;
    color: rgb(0, 0, 0);
    margin: 3rem;
    float: right;
    display: block;
    font-size: 2rem;
    width: 44rem;
    top: -26rem;
    height: 12rem;
    font-family: Berlin Sans FB;
    text-align: right;
}

/*about completed*/

/*features*/
.feature {
    display: flex;
    position: absolute;
    top: 145rem;
    flex-wrap: wrap;
    flex-direction: row;
    left: 6rem;
}

.f1,
.f2,
.f3 {
    background-color: white;
    height: 45rem;
    width: 22rem;
    margin: 1rem 0rem 0rem 3rem;
    border-radius: 2.7rem;
    -webkit-border-radius: 2.7rem;
    -moz-border-radius: 2.7rem;
    -ms-border-radius: 2.7rem;
    -o-border-radius: 2.7rem;
}

.f2 {
    width: 27rem;
}

.f1,
.f3 {
    height: 37rem;
    margin-top: 5rem;
}

/*features completed*/

/*technology*/
.tech {
    text-align: center;
    position: absolute;
    top: 198rem;
    left: 17rem;
}

.tech-title {
    position: relative;
    font-size: 3rem;
    color: white;
    font-family: Lineat III;
    padding: 0rem 0rem 10rem 6rem;
}

#tech-title2 {
    position: relative;
    font-size: 3rem;
    font-family: Berlin Sans FB;
}

#tech-img {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;
}

.tech img {
    margin: 3rem;
}

/*technology we used*/

/*Contact form*/
.contact-container {
    position: absolute;
    top: 235rem;
    width: 85rem;
    height: 40rem;
    background-color: white;
    margin-left: 4rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

#contact-title {
    position: relative;
    color: #FF0000;
    font-family: Lineat III;
    font-size: 3rem;
    float: right;
    margin: 3rem;
}

#title1 a {
    position: relative;
    float: left;
    color: #FFD500;
    font-family: Phantom;
    font-size: 6rem;
    margin: 1rem;
    text-decoration: none;
    cursor: pointer;
}

#title2 {
    font-family: Berlin Sans FB;
    position: relative;
    color: #FFD500;
    font-size: 1.4rem;
}

.ver {
    height: 360px;
    border-left: 3px solid #00090098;
    position: absolute;
    left: 50%;
    top: 20%;
}

#contact-details {
    font-family: Berlin Sans FB;
    position: relative;
    color: #000000;
    font-size: 2rem;
    text-align: left;
    width: 25rem;
    top: 2rem;
}

.contact1 {
    position: absolute;
    top: 10rem;
    left: 8rem;
}

.contact2 {
    position: absolute;
    top: 22rem;
    left: 60rem;
    display: block;
    float: right;
    font-family: Berlin Sans FB;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 90%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;font-family: Berlin Sans FB;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(0, 0, 0);
  text-align: center;
}

.login-box .user-box {
  position: relative;
  font-family: Berlin Sans FB;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
  font-family: Berlin Sans FB;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  pointer-events: none;
  transition: .5s;
  font-family: Berlin Sans FB;
}


.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #000000;
  font-size: 12px;
  font-family: Berlin Sans FB;
}


.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #000000;
  font-family: Berlin Sans FB;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
  left: 90%;
  font-family: Berlin Sans FB;
}


.login-box a:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px #0a0a0a,
              0 0 25px #000000,
              0 0 50px #000000,
              0 0 50px #000000;
  border-radius: 100rem;
  font-family: Berlin Sans FB;
}


.login-box a span {
  position: absolute;
  display: block;
  font-family: Berlin Sans FB;
}


.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #000000);
  animation: btn-anim1 1s linear infinite;
  font-family: Berlin Sans FB;
}


@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #000000);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #000000);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #000000);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/*Contact Form completed*/

/*Footer*/
footer {
    position: absolute;
    bottom: 0%;
    top: 270rem;
    margin: 6rem;
    width: 80rem;
}

#foot-mail {
    position: relative;
    font-size: 2rem;
    font-family: Berlin Sans FB;
    color: white;
    float: right;
    top: 4rem;
}

/*Footer Completed*/